
@font-face {
    font-family: 'panthera';
    src: url(../font/panthera.otf);
}
@font-face{
    font-family: 'wakanda forever';
    src: url(../font/WakandaForever-Regular.ttf);
}
@font-face{
    font-family: 'cantarell';
    src: url(../font/Cantarell-Regular.otf);
}
@font-face{
    font-family: beyno;
    src: url(../font/BEYNO/BEYNO.otf);
}
:root{
    --blue-color--: #07338c;
    --purple-color--: #3d2da6;
    --blue-night-color--: #021740;
    --grey-color--: #9E91B7;
    --pink-color--: #DF99F2;
}

*{
    margin: 0p;
    padding: 0p;
    box-sizing: border-box;

}
body{
    background-image: url(../Illustrations/Allpages/arrière_plan.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    background-color: #010a1c;
    box-sizing: border-box;

}
/*ba sur le coté haut*/
.left-bar1{
    position: fixed;
    width: 1px;
	height: 31%;
	top: 0;
	bottom: 0;
	left: 102px;
	border-right: var(--pink-color--) solid 4px;
    opacity: 100%;
}

.left-bar2{
    position: fixed;
    width: 1px;
	height: 51%;
	top: 0;
	bottom: 0;
	left: 80px;
	border-right: var(--pink-color--) solid 4px;
    opacity: 100%;
}
/*partie scrolling*/
.haut-scroll{
    display: flex;
    flex-direction: column;
    width: 25px;
    position: fixed;
    left: 92px;
    top: 300px;
}
.scroll-social{
    margin-top: 25px;
}
/*header*/
nav .sayna-marvel-menu :hover{
    filter:  invert(11%) sepia(85%) saturate(5054%) hue-rotate(251deg) brightness(80%) contrast(86%);
}
nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 50px;
        color: #c6adad;
    
    }

nav li {
    display: inline;
    justify-content: space-between;
}
nav li a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'beyno';
    padding-right: 70px;
    
}
ul {
    list-style-type: none;
}

nav ul li a:hover{
    color: var(--pink-color--);
    text-decoration: underline;
}

.description{
    font-family: 'cantarell';
    color: #ffffff;
    text-align: justify;

}
/*design de la partie forever*/
#forever {
    display: block;
    padding-bottom: 50px;
    margin-bottom: 180px;
}
#forever h1{
    font-size: 68px;
    font-family: 'panthera';
    color: #9E91B7;
}
#forever h2, #defi h2{
    font-family: 'beyno';
    font-size: 32px;
    color: #9E91B7;
}
#forever .container .part-one{
    padding-top: 130px;
}
#forever .container .part-one p {
    text-align: justify;
    display: flex;
    width: 30%;
    margin-top: 50px;
    font-family: 'cantarell';
    font-style: 'regular';
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
}
.image-forever{
    float: right;
    width: 57%;
    height: auto;
    margin-left: 1px;
}
.voir-plus{
    text-decoration-line: underline;
}

/*design de la partie slider-image*/
.slider {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-left: -50px;
    background-color:var(--blue-night-color--);
    padding-left: 450px;
    padding-bottom: -5px;
    

}
.expect-slider{
    position: absolute;
    top: 865px;
}


.slider-image-2{
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

.slider-content{
    padding: 20px;
    font-family: 'cantarell';
    justify-content: center;
    text-align: justify;
}




.titre{
    padding-bottom: 25px;
    padding-top: 25px;
    color: #9E91B7;
    
}
.description-index{
    width: 54%;
    text-align: justify;
    font-size: 16px;
    color:  #ffffff;
    font-family: 'cantarell';
    font-weight: normal;
    font-style: "regular";
}
#prince, .titre{
    font-family: beyno;
}
/*design de la partie t'challa droite*/
.challa-card{

    position: absolute;
    right: 200px;
    text-align: justify;
    top: 1450px;
}






.challa-card .btn input{
    text-decoration: none;

}
.challa-card ul li{
    text-decoration: none;
}
.challa-card .challa-image{
    position: absolute;
    left: 40px;


}
.challa-description{
    background-color: white;
    padding-top: 600px;
    padding-bottom: 50px;
    margin-top: 250px;
    border-radius: 8px;
    color: black;
    width: 480px;
    justify-content: center;
    
}


.challa-description .challa-titre{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: -280px;
    margin-bottom: 20px;
    font-family: 'cantarell';
    font-size: 32px;
    font-weight: 32px;
}

.btn-group{
    margin-left: 50px;
    margin-right: 50px;
}
.btn{
    text-decoration: none;
}
.challa-description .btn{
    padding: 8px;
    margin-left: 15px;
    margin-bottom: 50px;
    border: #021740 1px solid;
    border-radius: 5px;
    list-style: none;
    background-color: #3d2da6;
    font-family:'cantarell';
    font-size: 16px;
    color: #9E91B7;
    width: 100%;
}
.challa-description .biographie{
    margin-left: 25px;
    margin-top: 25px;
    font-family: 'cantarell';
    font-size: 14px;
    padding-bottom: 30px;
    line-height: 25px;
    justify-content: center;
    text-align: justify;

}
.challa-description .biographie ul li{
    list-style: none;
}
/*image sur le coté droite*/
.image-right{
    position: absolute;
    right: 200px;
    top: 2580px;
}

/*design de la partie contact*/
#contact{
    width: 100%;
    height: 100%;
    background-image:url(../Illustrations/Accueil/Pantherhome7.png);
    background-position: center;
    margin-bottom: 100px;
    padding-bottom: 500px;
}

#contact .wrap{
    width: 1000px;
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.11));
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    height: 700px;
    padding-top: 150px;
    font-size: 36px;
    position: relative;
    right: -350px;
    top: 230px;
    border-radius: 200px;
    margin-top: 50px;
}


#contact h2{
    margin-bottom: 60px;
    font-size: 36px;
    font-family: 'cantarell';
}

#contact h2{
    color: var(--blue-night-color--);
    position: absolute;
    right: 350px;
    top: 80px;
}
#contact p{
    font-family: 'cantarell';
    color: var(--blue-night-color--);
    position: absolute;
    right: 350px;
    top: 50px;
    font-size: 14px;
}

#contact .input-box{
    font-family: 'panthera';
    margin-top: 20px;
    width: 100%;
    height: 50px;
}
#contact .input-box input{
    width: 520px;
    height: 56px;
    border: none;
    border:   var(--blue-night-color--) 1px solid;
    border-radius: 38px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    color:  white;
}

#contact .textarea input{
    width: 520px;
    height: 190px;
    border: none;
    border:   var(--blue-night-color--) 1px solid;
    border-radius: 38px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    color: white;
}

#contact .textarea{
    font-family: 'cantarell';
    margin-top: 40px;
    width: 100%;
    height: 150px;
    
}

#contact .input-box input::placeholder {
    color: var(--blue-night-color--);
}
#contact .textarea input::placeholder{
    color: var(--blue-night-color--);
}
#contact .submit-box{
    justify-content: center;
    width: 174px;
    height: 54px;
    border-radius: 38px;
    position: relative;
    left: 160px;
}

#contact .submit-box input{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;    
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 70px;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'cantarell';

}
#contact .submit-box :hover{
    
    background-color: aqua;
    
}
/*contact enigme*/
.enigme-reponse {
    padding-top: 100px;
    font-family: 'cantarell';
    font-style: 'regular';
}
.enigme-reponse .enigme-input-box{
    font-family: 'panthera';
    margin-top: 20px;
    width: 100%;
    height: 50px;
}
.enigme-reponse .enigme-input-box input{
    width: 520px;
    height: 56px;
    border: none;
    border:   var(--grey-color--) 1px solid;
    border-radius: 30px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    color:  white;
}
.enigme-submit-box{
    justify-content: center;
    width: 174px;
    height: 54px;
    border-radius: 38px;
    position: relative;
    left: 160px;
}
.enigme-reponse .enigme-submit-box input{
    width: 100%;
    height: 50px;
    background-color: var(--grey-color--);
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;    
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 70px;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'cantarell';
}

/* page wakanda*/
/*design de la section wakanda forever*/
#wakanda-forever{
    background-image: url(../Illustrations/Wakanda/Pantherwakanda1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 30% 10px;
    height: 1000px;
    width: 110%;
    margin-left: -100px;
    padding-left: 100px;
    margin-bottom: -150px;
}
#wakanda-forever .titre{
    font-family: 'beyno';
    font-size: 32px;
}
#wakanda-forever h2{
    font-family: 'wakanda forever';
}
#wakanda-forever p{
    width: 30%;
    text-align: left;
    margin-top: 50px;
    font-family: 'cantarell';
    font-size: 16px;
}
#wakanda-forever .container{
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    padding-left: 150px;
    margin-top: -100px;

}
#parents{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    background-image:url(../Illustrations/Wakanda/Pantherwakanda2.png);
    background-repeat: no-repeat;
    background-color: #02174039;
    background-size: contain;
    margin-top: 10px;
    margin-right: 100px;
    
}
#child-1{
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
#child-2{
    justify-content: center;
    margin-left: 200px;
}
.description{
    width: 100%;
}
.youtube{
    background-color: #3d2da6;
    width: 100%;
    height: 280px;
    padding-top: 50px;
    padding-left: 80px;
    padding-top: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: 'cantarell';
    font-style: regular;
}

/*design de la section enigme*/
#defi{
    margin-bottom: -250px;
}
#defi .titre{
    font-size: 36px;
    font-style: 'regular';
    margin-bottom: 100px;
    justify-content: center;
    text-align: justify;
    width: 74%;
    padding: 0;
    position: relative;
    top: -380px;
}
#defi .enigme-image{
    width: 10%;
    position: relative;
    right: 600px;
    top: -350px;
}
#defi .wrapp-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}    
#defi .wrapp-box .contenu-droite{
    width: 40%;
    left: 400px;
    top: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#defi .contenu-droite1-haut{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 145px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    text-align: justify;
    width: 100%;
    height: 400px;
    background-image: url(../Illustrations/Enigme/Pantherenigme2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -400px;
    right: 100px;
    bottom: 80px;
}
#defi .contenu-droite1-haut p{
    font-size: 16px;
}
.description-enigme{
    width: 100%;
    text-align: left;
    position: relative;
    right: 80px;
    font-family: 'cantarell';
    font-style: 'regular';
    font-size: 16px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right:250px;
    padding-left: 150px;
    background-image: url(../Illustrations/Enigme/Pantherenigme2.png);
    background-repeat: no-repeat;
}

defi.titre

/*section  transcription*/
#transcription {
    width: 100%;
    height: 1000px;
    padding-top: 10px;
    margin-left: 80px;
}
    
#transcription .titre-transcription{
    font-family: 'wakanda forever';
    font-style: 'regular';
    font-size: 43px;
    word-spacing: 20px;
    color: #9E91B7;
    line-height: 70px;
    
}

#transcription .wrapp-box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#transcription .contenu-gauche{
    margin-right: 50px;
    padding-right: 50px;
}
#transcription .contenu-gauche .enigme-transcription{
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-family: 'cantarell';
    width: 100%;

}
#transcription .contenu-gauche .enigme-transcription .p1{
    padding-top: 100px;
    margin-bottom: 20px;
}
#transcription .contenu-gauche .enigme-transcription .letter{
    font-family: 'wakanda forever';
    line-height: 25px;
    letter-spacing: 2px;
}


#transcription .contenu-droite1{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    text-align-last: center;
    width: 100%;
    background-size: contain;
    position: relative;
    bottom: 80px;
}
#transcription .contenu-gauche .titre-transcription{
    padding-bottom: 10px;
    
}


/*design de la partie footer*/
footer{
    margin-top: 160px;
    width: 100%;
    height: 800px;
    background-image: url(../Illustrations/Allpages/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .social-footer-image{
    margin: 12px;
}
 footer ul li{
    list-style: none;
 }
 footer .footer-h3{
    font-family: 'cantarell';
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 10px;
    font-size: 22px;
    letter-spacing: 28%;
 }
 footer p{
    font-family: 'cantarell';
    line-height: 30px;
    font-style: regular;
 }
 
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
footer .sayna-marvel{
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../Illustrations/Allpages/footer1.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: -100px;
}
footer .sayna-marvel:hover{
    cursor: pointer;
    transform: scale(1.1);
}
footer .about{
    padding-top: 60px;
    margin-right: 100px;
    height: 250px;
    padding-left: 60px;
}
footer .about p a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'cantarell';
}
footer .about p a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
}
footer .social-footer{
    margin-left: 100px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 500px;
    font-size: 22px;
    letter-spacing: 28%;
    justify-content: space-evenly;
}
footer .social-footer-image:hover{
    cursor: pointer;
    transform: scale(1.1);
}
footer .droit{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    bottom: 80px;
    width: 40%;
    font-family: 'cantarell';
    left: 700px;
}
